* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* Emoji display box */
.emoji-box {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Controls section */
.controls-box {
  width: fit-content;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.controls-box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.controls-box p {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Each section */
.control-section {
  margin-bottom: 15px;
}

.control-section h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Emoji buttons */
.emoji-grid {
  display: flex;
  gap: 8px;
}

.emoji-grid button {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

/* Color buttons */
.color-grid {
  display: flex;
  gap: 8px;
}

.color-grid button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

/* Slider */
.slider {
  width: 100%;
}

.rotate-btn {
  background-color: #ddd;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}